<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <title>Madame Kuchnia</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body id="kitchen">

<nav class="navbar navbar-inverse">
        <div class="contauner-fluid">

            <!-- Logo -->
            <div class="navbar-header">
                <a href="#" class="navbar-brand"> MADAME KUCHNIA </a>
            </div>

            <!-- menu items -->
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="/logout"> Wyloguj </a></li>
                </ul>
            </div>
        </div>
    </nav>

        <ul>
            {% for o in order %}
                 <li> <a href='#' class="white"> {{o}} </a></li><br><br>
            {% endfor %}
        </ul>

    <script>
        $( function(){
//    $('#order').css('display', 'None');
   $('.white').on('click', function(e){
   $(this).hide();
   });

})
    </script>

</body>
</html>
